

/*====
@描述：提示内容
@作者：NA
@时间：15.4.23
*/====

/* 详细页 - 无内容 */ 
.msgwu{ height: 600px;background: url(../imgs/msgwu.png) no-repeat center; } /* 列表页 - 无内容 */ .noContent{ height: 360px;background: url(../imgs/msgwu2.png) no-repeat center;margin-top: 90px;position: relative; } .noContent .are{ position: absolute;top: 220px;text-align: center;left: 50%;margin-left: -35px; } .noContent .tip{ position: absolute;top:100px;left: 600px;font-size: 30px;color: #ccc; }
.noContent a{ display: inline-block;line-height: 35px;padding: 0 15px;border-radius: 2px;margin: 0 0 0 10px; }
.noContent .publish,.noContent .confirm{ background: #e74c3c;color: white;padding: 0 15px; }
.noContent .publish{ background: #e74c3c url(../imgs/tagPublish_white.png) no-repeat 10px center;padding: 0 15px 0 30px; }
.noContent .publish:hover,.noContent .confirm:hover{ background-color: #ca3627; }
.noContent .stroll{ border: 1px solid #ccc;background: #f6f4f5;color: #666;border-radius: 3px;padding: 0 15px; }
.noContent .stroll:hover{ border-color: #bbb;color: #333; }

/* 提示 - 简洁版 */
.Ncon{ background: no-repeat 150px center;margin-top: 0px;height: 335px;background-size: 100px;height: auto;padding: 150px 0 150px 300px; }
.Ncon h1{ font-weight: normal;font-size: 20px;color: #2f3c4e;margin: 0px; }
.Ncon .cue{ color: #737a83;margin-top: 10px;line-height: 24px; }
.Ncon .cue p{ color: #737a83; }
.Ncon .btn{ margin-top: 20px; }
.Ncon .btn a{ border: 1px solid #ccc;background: #f6f4f5;color: #666;border-radius: 3px;display: inline-block;line-height: 35px;padding: 0 15px;margin-right: 10px; }
.Ncon .btn a:hover{ border-color: #bbb;color: #333; }
.Ncon .btn a.red{ background: #e74c3c;color: white;padding: 0 15px;border-color: #ca3627; }
.Ncon .btn a.red:hover{ background-color: #ca3627; }

/* 用户中心 - 无内容 */
.userNot{ background: url(../imgs/msgwu3.png) no-repeat center; }

/* 用户中心 - 访问用户 - 无内容 */
.visitNot{ background: url(../imgs/msgwu4.png) no-repeat center; }

/* 申请标题 - 提交提示信息 */
.applyMsg{ background: url(../imgs/msgwu5.png) no-repeat center; }

/* 我的标题 - 暂无属于自己的标题 */
.titleNot{ background-image: url(../imgs/iconfont-message.png); }

/* 我的标题 - 暂无属于自己的标题 */
.followNot{ background-image: url(../imgs/iconfont-wodedingyue.png); }

/* 徽章福利 - 没有徽章提示 */
.badgeNot{ background: url(../imgs/msgwu7.png) no-repeat center;margin-top: 0px; }

/* 发布成功 */
.addContentMsg{ background: url(../imgs/msgwu8.png) no-repeat center;margin-top: 0px; }

/* 留言提示 */
.notMessage{ background: url(../imgs/msgwu9.png) no-repeat center;margin-top: 0px;height: 335px; }

/* 留言提示 */
.notAd{ background: url(../imgs/msgwu10.png) no-repeat center;margin-top: 0px;height: 335px; }

/* 无标题提示 */
.notTit{ background: url(../imgs/iconfont-no.png) no-repeat 100px center;margin-top: 0px;height: 335px;background-size: 100px;height: auto;padding: 150px 0 150px 300px; } 
.notTit h1{ font-weight: normal;font-size: 18px;color: #999;margin: 0px; }
.notTit p{ color: #aaa;margin-top: 10px; }

/* 没有关注的用户 */
.followUserNot{ background-image: url(../imgs/iconfont-guanzhu-black.png); }

/* 没有留言 */
.messageNot{ background-image: url(../imgs/iconfont-geiwoliuyan-black.png); }

/* 没有相关内容 */
.listNot{ background-image: url(../imgs/iconfont-xiangxineirong.png); }

/* 成功信息 */
.hint-success{ background-image: url(../imgs/iconfont-chenggongtishi24px.png); }